#https://www.accordbox.com/blog/create-wagtail-project/

mysqlclient
django==4.0.4
requests
django-redis

redis==3.5.3
celery==5.2.7
django-celery-beat==2.3.0
django_celery_results==2.4.0

#slack_sdk
unipayment
skpy

gunicorn
gevent


python-dotenv

django-admin-honeypot
django-admin-env-notice
django-otp
qrcode

